    .header {
      height: 400px;
      text-align: center;
      background: url("http://i761.photobucket.com/albums/xx252/courty40fresh/turquoisewood.jpg");
      background-repeat: repeat-x;
      background-position: top;
      padding: 20px;
    }
    #title {
      width: 400px;
    }
    #profpic {
      width: 400px;
      padding-top: 25px;
      display: block;
      margin: auto;
    }
    #name {
      width: 550px;
      display: block;
      margin: auto;
    }
    .cactus {
      background: url("http://i761.photobucket.com/albums/xx252/courty40fresh/kisspng-saguaro-national-park-cactaceae-desert-clip-art-cactus-png-5a6b182db19896.9763392715169679817274.png");
      background-repeat: repeat-y;
      background-size: 100px;
      height: 100%;
      margin-top: -750px;
      margin-left: 500px;
    }
    .body {
      text-align: center;
      background: url("http://i761.photobucket.com/albums/xx252/courty40fresh/plain.png");
      padding-top: 25px;
      padding-left: 25px;
      font-size: 20px;
      font-family: calibri light;
      height: 5000px;
	  display: block;
      margin: auto;
      min-width: 600px;
      max-width: 600px;
    }
    .button {
      width: 25%;
      background: turquoise;
      color: white;
      font-size: 20px;
      font-family: calibri light;
    }